// This is the custom CSS in the file of the same name found at source/stylesheets in slate

.toc-link.active {
    background-image: linear-gradient(#2abdb6, #2a2fbd);
}

h1 {
    background: rgb(253,253,253);
    background: linear-gradient(90deg, rgba(253,253,253,1) 80%, rgba(255,194,101,1) 100%);
}

p {
    margin-bottom: 1em !important;
}

blockquote p {
    margin-bottom: 0 !important;
}

.content ul {
    margin-bottom: 1em !important;
}
